    ﻿@{
    Layout = "~/Views/Shared/_BigDataLayoutPage.cshtml";
    }
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="~/js/ViewEarlyWarning/earlyWarningOverview.js" type="module"></script>
    <script src="~/js/Echarts/echarts.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/css/ViewEarlyWarning/earlyWarningOverview.css" />
    <div class="content" id="EarlyWarningOverview" v-cloak v-loading="loading"
         element-loading-text="拼命加载中"
         element-loading-spinner="el-icon-loading"
         element-loading-custom-class="loading_color"
         element-loading-background="rgba(0, 0, 0, 0.8)">
        <div style="height: 100%;">
            <div class="bg">
                <div class="home_title">
                    <i>
                        <img src="~/image/title-left.png">
                    </i>
                    <span>大数据分析总览</span>
                    <i>
                        <img src="~/image/title-right.png">
                    </i>
                </div>
                <div class="conBox">
                    <div class="backBtn">
                        <img src="/image/bnt.png" alt="">
                        <a href="/Main/BigDataAnalysisOverview/@ViewBag.CompanyAbbrName">
                            <div class="diaTxt backTit" style="height: 39px; line-height: 34px; font-size: 20px;">
                                返回
                            </div>
                        </a>
                    </div>
                    <div class="conL">
                        <div style="height: 100%;">
                            <div class="itemTit">
                                实时预警统计
                            </div>
                            <div style="display: flex; flex-direction: column; justify-content: space-between; height: 93%;">
                                <div class="realAlarmGroup">
                                    <div class="ragUp">
                                        <div class="ragUpBg" @@click="getIsEarlyWarn">
                                            <div class="ragBgNum">
                                                {{IsEarlyWarningNumber}}
                                            </div>
                                            <div class="ragBgTxt">存在预警</div>
                                        </div>
                                    </div>
                                    <div class="ragUp">
                                        <div class="ragUpBg" @@click="getIsCommunicationBad">
                                            <div class="ragBgNum">
                                                {{IsCommunicationBadNumber}}
                                            </div>
                                            <div class="ragBgTxt ragBgTxtB">通讯故障</div>
                                        </div>
                                        <div class="ragUpBg" @@click="getIsNormal">
                                            <div class="ragBgNum">
                                                {{IsNormalNumber}}
                                            </div>
                                            <div class="ragBgTxt ragBgTxtC">运行正常</div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: column; height: 60%;">
                                    <div class="chartEarly" style="height: 48%;" id="EarlyByCompany"></div>
                                    <div class="chartEarly" style="height: 48%;" id="EarlyByCaliber"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="conR">
                            <div class="itemTit">
                                预警详细
                            </div>
                        <div style="display: flex; flex-direction: column; justify-content: space-between; height: 93%;">
                            <div class="listTable">
                                <div class="tabTit">
                                    <span>分公司</span>
                                    <span>站场</span>
                                    <span>回路</span>
                                    <span>品牌</span>
                                    <span>用户</span>
                                    <span>口径</span>
                                    <span>状态</span>
                                </div>
                                <div class="tabCon">
                                    <div class="tabTit tabCI" v-for="item in EarlyWarnings">
                                        <span>{{item.companyName}}</span>
                                        <span>{{item.stationName}}</span>
                                        <span>{{item.loopName}}</span>
                                        <span>{{item.flowmeterManufacturer}}</span>
                                        <span>{{item.customer}}</span>
                                        <span>{{item.caliber}}</span>
                                        <span>{{item.status}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="chartEarly" id="echBarBranchHisIntactRate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var area =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Area))
    var isArea = '@ViewBag.IsArea';
    var company =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Company));
    var companies=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Companies));
    </script>