@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    [v-cloak] {
        display: none;
    }
</style>
<script src="~/js/ViewEarlyWarning/earlyWarningAccuracy.js" type="module"></script>
<script src="~/js/Echarts/echarts.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/css/ViewEarlyWarning/earlyWarningAccuracy.css" />
<div class="content" id="EarlyWarningAccuracy" v-cloak v-loading="loading"
     element-loading-text="拼命加载中"
     element-loading-spinner="el-icon-loading"
     element-loading-custom-class="loading_color"
     element-loading-background="rgba(0, 0, 0, 0.8)">
    <div class="header_title">
        <span>@ViewBag.Title</span>
    </div>
    <div class="Drop-downbox">
        <div class="Drop-downbox_input">
            <div v-if="isAreaType == 'false'">
                <span>公司:</span>
                <el-select v-model="companyName"
                           placeholder="请选择"
                           style="width: 7.817vw">
                    <el-option v-for="item in datas"
                               :key="item.value"
                               :label="item.Name"
                               :value="item.AbbrName">
                    </el-option>
                </el-select>
            </div>
            <div v-else-if="isAreaType == 'true'">
                <span>作业区:</span>
                <el-select v-model="areaName"
                           placeholder="请选择"
                           style="width: 7.817vw">
                    <el-option v-for="item in OperationAreas"
                               :key="item.value"
                               :label="item.Name"
                               :value="item.AbbrName">
                    </el-option>
                </el-select>
            </div>
            <div>
                <span>场站:</span>
                <el-select v-model="StationName"
                           placeholder="请选择"
                           multiple
                           collapse-tags
                           style="width: 9.817vw"
                           @@change="onSelectedDrug($event)">
                    <el-option v-for="item in Stations"
                               :key="item.ID"
                               :label="item.Name"
                               :value="item.ID">
                    </el-option>
                </el-select>
            </div>
            <div>
                <span>回路:</span>
                <el-select v-model="LoopName"
                           multiple
                           collapse-tags placeholder="请选择">
                    <el-option-group v-for="group in StationsData"
                                     :key="group.Name"
                                     :label="group.Name">
                        <el-option v-for="item in group.Loops"
                                   :key="item.ID"
                                   :label="item.AbbrName"
                                   :value="item.ID">
                        </el-option>
                    </el-option-group>
                </el-select>
            </div>
            <div class="block">
                <span>日期:</span>
                <el-date-picker v-model="timeSlot"
                                type="datetimerange"
                                align="right"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                :default-time="['00:00:00', '23:59:59']"
                                style="width: 18.761vw"
                                @@change="TimeSelection($event)"
                                :plain="true">
                </el-date-picker>
            </div>
        </div>
        <div class="Drop-downbox_btn">
            <el-button type="primary" icon="el-icon-finished" @@click="Statistics">统计</el-button>
            <el-button type="primary" icon="el-icon-search" @@click="Refresh">刷新</el-button>
        </div>
    </div>
    <div class="formview">
        <el-table :data="tableData.slice((currentPage-1)*pagesize,currentPage*pagesize)" height="75.867vh" border :stripe="true" style="width: 98%; margin-left: 1%; margin-top: 1.032vh;text-align: center;" :row-class-name="tableRowClassName">
            <el-table-column prop="beginDateTime" :formatter="dateFormat" label="开始时间">
            </el-table-column>
            <el-table-column prop="endDateTime" :formatter="dateFormat" label="结束时间">
            </el-table-column>
            <el-table-column prop="stationName" label="场站名称">
            </el-table-column>
            <el-table-column prop="loopName" label="回路名称"> </el-table-column>
            <el-table-column prop="flowmeterManufacturer" label="品牌"></el-table-column>
            <el-table-column prop="knowledgeSolution" width="450" label="专家建议"></el-table-column>
            <el-table-column prop="sceneSolution" width="450" label="现场解决方案"></el-table-column>
            <el-table-column prop="" label="操作" width="100" align="center">
                <template slot-scope="scope">
                    <el-button type="text" size="small"
                               @@click="showEditDialog(JSON.parse(JSON.stringify(scope.row)))">信息编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination style="width:50%;margin-left:1%;margin-top:5px;" @@size-change="handleSizeChange"
                       @@current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[25, 10, 30, 40, 50]"
                       :page-size="pagesize"
                       :total="tableData.length"
                       layout="total, sizes, prev, pager, next, jumper">
        </el-pagination>
    </div>
    <el-dialog title="建议告知率统计"
               :visible.sync="dialogVisible"
               width="56%"
               style="height: 70%; margin-top: 10vh ">
        <div class="disech">
            <el-table :data="ealywarningAccuracyTableData"
                      height="40.805vh"
                      border
                      style="width: 28.663vw; margin-top:5vh">
                <el-table-column prop="index"
                                 label="序号">
                </el-table-column>
                <el-table-column prop="description"
                                 label="品牌">
                </el-table-column>
                <el-table-column prop="correctNumber"
                                 label="正确个数">
                </el-table-column>
                <el-table-column prop="errorNumber"
                                 label="错误个数">
                </el-table-column>
            </el-table>
            <div class="echt" id="ealywarningAccuracyStatistics" ref="chert"></div>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="dialogVisible = false" style="margin-right:5vh">关 闭</el-button>
        </span>
    </el-dialog>
    <el-dialog :title="dialogTit"
               :visible.sync="editDialogVisible"
               width="40%"
               style="height: 54%; margin-top: 10vh "
               :before-close="handleClose">
        <el-form label-width="150px"
                 :model="editForm"
                 ref="editForm"
                 :rules="rules">
            <el-form-item label="场站名称" prop="selStationName">
                <el-input style="width: 300px;"
                          :disabled="true"
                          v-model="editForm.selStationName">
                </el-input>
            </el-form-item>
            <el-form-item label="回路名称" prop="selLoopName">
                <el-input style="width: 300px;"
                          :disabled="true"
                          v-model="editForm.selLoopName">
                </el-input>
            </el-form-item>

            <el-form-item label="品牌" prop="selFlowmeterManufacturer">
                <el-input style="width: 300px;"
                          :disabled="true"
                          v-model="editForm.selFlowmeterManufacturer">
                </el-input>
            </el-form-item>
            <el-form-item label="专家建议" prop="selKnowledgeSolution">
                <el-input style="width: 500px;"
                          type="textarea"
                          :disabled="true"
                          resize="none"
                          rows="3"
                          v-model="editForm.selKnowledgeSolution">
                </el-input>
            </el-form-item>
            <el-form-item label="现场解决方案" prop="selSceneSolution">
                <el-input style="width: 500px;"
                          type="textarea"
                          resize="none"
                          rows="3"
                          placeholder="请填写现场解决方案"
                          v-model="editForm.selSceneSolution">
                </el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="editDialogVisible = false">取 消</el-button>
            <el-button type="primary" @@click="subDiaLog('editForm')">确 定</el-button>
        </span>
    </el-dialog>
</div>
<script>
    var area =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Area))
    var isArea = '@ViewBag.IsArea';
    var company =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Company));
    $("#menu_EarlyEarning").addClass("active")
</script>