@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    [v-cloak] {
        display: none;
    }
</style>
<script src="~/js/ViewEarlyWarning/earlyWarningNotificationRate.js" type="module"></script>
<script src="~/js/Echarts/echarts.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/css/ViewEarlyWarning/earlyWarningNotificationRate.css" />
<div class="content" id="EarlyWarningNotificationRate" v-cloak v-loading="loading"
     element-loading-text="拼命加载中"
     element-loading-spinner="el-icon-loading"
     element-loading-custom-class="loading_color"
     element-loading-background="rgba(0, 0, 0, 0.8)">
    <div class="header_title">
        <span>@ViewBag.Title</span>
    </div>
    <div class="Drop-downbox">
        <div class="Drop-downbox_input">
            <div>
                <span>品牌:</span>
                <el-select v-model="BrandName"
                           multiple
                           collapse-tags
                           placeholder="请选择"
                           style="width: 10.423vw">
                    <el-option v-for="item in Brands"
                               :key="item.ID"
                               :label="item.Name"
                               :value="item.ID">
                    </el-option>
                </el-select>
            </div>
            <div class="block">
                <span>日期:</span>
                <el-date-picker v-model="timeSlot"
                                type="datetimerange"
                                align="right"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                :default-time="['00:00:00', '23:59:59']"
                                style="width: 18.761vw"
                                @@change="TimeSelection($event)"
                                :plain="true">
                </el-date-picker>
            </div>
        </div>
        <div class="Drop-downbox_btn">
            <el-button type="primary" icon="el-icon-search" @@click="Refresh">刷新</el-button>
            <el-button type="primary" icon="el-icon-finished" @@click="Statistics">统计</el-button>
        </div>
    </div>
    <div class="formview">
        <el-table :data="tableData.slice((currentPage-1)*pagesize,currentPage*pagesize)" height="75.867vh" border :stripe="true" style="width: 98%; margin-left: 1%; margin-top: 1.032vh;text-align: center;" :row-class-name="tableRowClassName">
            <el-table-column prop="companyName" label="分公司" align="center"></el-table-column>
            <el-table-column prop="stationName" label="场站名称" align="center"></el-table-column>
            <el-table-column prop="loopName" label="回路名称" align="center"> </el-table-column>
            <el-table-column prop="brandName" label="品牌" align="center"> </el-table-column>
            <el-table-column prop="flowmeterModel" label="型号" align="center"> </el-table-column>
            <el-table-column prop="caliber" label="口径" align="center"> </el-table-column>
            <el-table-column prop="forwordPreDayStandardCumulative" label="日输气量(SKm3)" align="center"> </el-table-column>
            <el-table-column label="参数预警数" align="center">
                <template slot-scope="scope">
                    <el-popover v-if="scope.row.earlyWarningDescItems.length > 0"
                                placement="right"
                                width="150"
                                trigger="hover">
                        <div v-for="(item,index) in scope.row.earlyWarningDescItems" :key="index" class="desc">
                            {{ item }}
                        </div>
                        <span slot="reference">{{ scope.row.earlywarningNumber }}</span>
                    </el-popover>
                    <span v-else>{{ scope.row.earlywarningNumber }}</span>
                </template>
            </el-table-column>
            <el-table-column label="对应报警数" align="center">
                <template slot-scope="scope">
                    <el-popover v-if="scope.row.alarmDescItems.length > 0"
                                placement="right"
                                width="150"
                                trigger="hover">
                        <div v-for="(item,index) in scope.row.alarmDescItems" :key="index" class="desc">
                            {{ item }}
                        </div>
                        <span slot="reference">{{ scope.row.alarmNumber }}</span>
                    </el-popover>
                    <span v-else>{{ scope.row.alarmNumber }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="notificationRate" label="告知率" align="center"></el-table-column>
        </el-table>
        <el-pagination style="width:50%;margin-left:1%;margin-top:5px;" @@size-change="handleSizeChange"
                       @@current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[25, 10, 30, 40, 50]"
                       :page-size="pagesize"
                       :total="tableData.length"
                       layout="total, sizes, prev, pager, next, jumper">
        </el-pagination>
    </div>
    <el-dialog title="预警告知率统计"
               :visible.sync="dialogVisible"
               width="56%"
               style="height: 59%; margin-top: 10vh ">
        <div class="disech">

            <el-table :data="notificationRateTableData"
                      height="37.805vh"
                      border
                      style="width: 28.663vw; margin-top:5vh">
                <el-table-column prop="brandName"
                                 label="品牌">
                </el-table-column>
                <el-table-column prop="notificationRate"
                                 label="告知率">
                </el-table-column>
            </el-table>
            <div class="echt" style="margin-top:50px" id="notificationRateStatistics" ref="chert"></div>
        </div>
        <div class="dialog-footer" style="padding: 141px 20px 20px; float: right;">
            <span slot="footer">
                <el-button type="primary" icon="el-icon-upload" @@click="Export">导出</el-button>
            </span>
        </div>

    </el-dialog>
</div>
<script>
    var area =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Area))
    var isArea = '@ViewBag.IsArea';
    var company =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Company));
    $("#menu_EarlyEarning").addClass("active")
</script>