################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CBMMVC/bin
/CBMMVC/obj
/CBMMVCOffice/obj
/Models/bin
/Models/obj
/Respository/bin
/Services/bin
