<!DOCTYPE html>
@{
    Company company = ViewBag.Company as Company;
    Area m_area = ViewBag.Area as Area;
    User user = ViewData["User"] as User;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/vue.js" type="text/javascript"></script>
    <script src="~/js/element-ui.js" type="text/javascript"></script>
    <script src="~/js/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/css/ElementUI/element-ui.css" />
    <link rel="stylesheet" href="~/css/Common/common.css" />
    <link rel="stylesheet" href="~/css/font/css/font-awesome.css" />
    <script src="~/js/Axios/axios.min.js" type="text/javascript"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <title>@ViewBag.Title</title>
    @using Models
</head>
<body>
    @RenderBody()
</body>
</html>
